<footer>
    <div>
        <p id="sobre-nosotros">Sobre nosotros...</p>
        <p>
            Este es un proyecto individual, de un E-Commerce genérico, con temática de "comida rápida", para UN negocio en particular. Su función es mostrar los productos disponibles, dar la opción de agregar al carrito y hacer el pedido mediante WhatsApp.
        </p>
    </div>
</footer>