<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/80d7b2a33b.js" crossorigin="anonymous"></script>
    <script src="/js/carrito.js"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/<%= fileCss %>.css">

    <title>E-Commerce</title> 
</head>