<header>
    <div id="caja-padre-header">
        <div id="caja-logo">
            <a href="/">
                <img src="/img/logo-ecommerce.jpg" id="logo" alt="Logo-Son-De-Paz">
            </a>
        </div>
        <div id="caja-info">
            <div id="caja-titulo-header">
                <h1 id="titulo-header">Bienvenidos</h1>
                <h2 id="subtitulo-header">Proyecto E-Commerce</h2>
            </div>
            <div id="caja-iconos">
                <a href="#" id="ig"> <img src="/img/icono-ig.png" class="iconos" alt="icono-ig"> </a>
                <a href="#" id="wpp"><img src="/img/icono-wpp.png" class="iconos" alt="icono-wpp"> </a>
                <a href="/producto/carrito" id="cart"> <img src="/img/icono-carrito.png" class="iconos" alt="icono-carrito"> </a>
                <p id="contador-carrito"></p>
            </div>
        </div>
    </div>
</header>